
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

* {
    font-family: Fira Sans;
}

.jumbotron {
    font-family: Fira Sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Fira Sans;
}

label {
    font-family: Fira Sans;
}

.jumbotron {
    background-image: url("http://localhost:8080/images/jumbo-girl.jpg");
    color: white;
}

body {
    background-color: #f2f2f2;
}


